

/* timeline images styling */

.slick-active .pager__item {
    padding-right: 1vh;
    
    color: red;
}

.slick-dots li{
    margin:0 20px;
}


.slick-slide
{
position: relative;
top: 10vh;
width: 800px;
height: 600px;

}

.timeline-caption{
    background-color: rgba(0, 0, 0, 0.7);
    height: 4vh;
    width: 70%;
}

.timeline-caption  span{
    color: orange;
}

/* all the timeline numbers that need to remain hidden */
body > div.multiple-items.slick-initialized.slick-slider.slick-dotted > ul > li:nth-child(2){
    display: none;
}

body > div.multiple-items.slick-initialized.slick-slider.slick-dotted > ul > li:nth-child(4){
    display: none;
}

body > div.multiple-items.slick-initialized.slick-slider.slick-dotted > ul > li:nth-child(6){
    display: none;
}
body > div.multiple-items.slick-initialized.slick-slider.slick-dotted > ul > li:nth-child(7){
    display: none;
}
body > div.multiple-items.slick-initialized.slick-slider.slick-dotted > ul > li:nth-child(9){
    display: none;
}
body > div.multiple-items.slick-initialized.slick-slider.slick-dotted > ul > li:nth-child(10){
    display: none;
}
body > div.multiple-items.slick-initialized.slick-slider.slick-dotted > ul > li:nth-child(11){
    display: none;
}
body > div.multiple-items.slick-initialized.slick-slider.slick-dotted > ul > li:nth-child(12){
    display: none;
}
body > div.multiple-items.slick-initialized.slick-slider.slick-dotted > ul > li:nth-child(13){
    display: none;
}
body > div.multiple-items.slick-initialized.slick-slider.slick-dotted > ul > li:nth-child(14){
    display: none;
}
body > div.multiple-items.slick-initialized.slick-slider.slick-dotted > ul > li:nth-child(15){
    display: none;
}
body > div.multiple-items.slick-initialized.slick-slider.slick-dotted > ul > li:nth-child(16){
    display: none;
}
body > div.multiple-items.slick-initialized.slick-slider.slick-dotted > ul > li:nth-child(17){
    display: none;
}